html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $main;
  color: $dark;
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Comfortaa', cursive;
  // font-family: 'Yeseva One', cursive;
  font-weight: 400;
}

main {
  flex-grow: 1;
  overflow-x: clip;
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;

  @media (max-width: $lg) {
    padding: 0 20px;
  }

  @media (max-width: $sm) {
    padding: 0 10px;
  }
}

.section {
  padding-bottom: 150px;

  @media (max-width: $sm) {
    padding-bottom: 50px;
  }
}

// .logo {
//   transition: box-shadow 0.3s, opacity 0.3s;
//   min-width: 115px;

//   &:focus {
//     border-radius: 5px;
//     box-shadow: 0px 0px 0px 2px $transparent-100;
//   }

//   &:hover {
//     opacity: 0.7;
//   }

//   &:active {
//     opacity: 0.5;
//   }
// }

.button {
  display: inline-block;
  letter-spacing: 0.03em;
  padding: 18px 55px;
  background-color: $accent;
  box-shadow: 0px 4px 4px 0px $shadow;
  font-size: 14px;
  font-weight: 600;
  transition: color 0.5s, background-color 0.5s, box-shadow 0.5s;

  &:hover {
    color: $light-2;
    background-color: $accent-wood;
  }

  &:active {
    color: $secondary;
  }

  @media (max-width: $sm) {
    padding: 14px 40px;
  }

}

.link {
  transition: color 0.3s, box-shadow 0.2s, text-shadow 0.3s;

  &:focus {
    box-shadow: 2px 2px 2px #ce593700
  }

  &:hover {
    color: $accent;
  }

  &:active {
    color: $accent-dark;
  }

  &--centered {
    @media (max-width: $sm) {
      width: 100%;
      padding: 10px;
    }
  }
}

.title {
  font-family: 'Yeseva One', cursive;
  font-weight: 400;
  font-size: 40px;

  @media (max-width: $md) {
    font-size: 22px;
  }

  @media (max-width: $sm) {
    text-align: center;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// .grid {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(210px, 210px));
//   justify-content: center;
//   gap: 30px;
//   margin-bottom: 55px;

//   @media (max-width: $lg) {
//     gap: 20px 10px;
//     margin-bottom: 40px;
//   }

//   @media (max-width: $sm) {
//     grid-template-columns: repeat(auto-fit, minmax(170px, 170px));
//     gap: 10px 5px;
//     margin-bottom: 30px;
//   }
// }

// .lock {
//   overflow: hidden;
//   position: relative;

//   &::after {
//     content: '';
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     background-color: rgba(0, 0, 0, 0.5);
//   }
// }

// .clickable {
//   position: initial;

//   &::after {
//     content: '';
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 2;
//     width: 100%;
//     height: 44px;
//   }

//   @media (max-width: $lg) {
//     position: relative;
//   }
// }