//colours

$main: #FFF8F3;
$secondary: #A5978E;

$light-1: #fff;
$light-2: #fafafa; 

$dark: #000;

$accent: #FFBD59;
$accent-dark: #ff3d00;


//media breakpoints

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//fancybox fix

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}