//colours

$main: #FFF8F3;
$secondary: #A5978E;

$light-1: #fff;
$light-2: #fafafa;

$dark: #000;
$shadow: #00000040;

$accent: #FFBD59;
$accent-dark: #ff3d00;
$accent-wood: #7B6152;
$accent-cream: #FFF8F3;

//media breakpoints

$xsm: 360px;
$sm: 480px;
$md: 768px;
$lg: 1000px;
$xl: 1180px;

//fancybox fix

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}